@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html,
body {
  @apply m-0 p-0 text-hedera-secondary;
}

.hedera-primary {
  @apply from-hedera-blue to-hedera-purple;
}

input,
textarea {
  @apply outline-none;
}

.font-small-caps {
  font-variant-caps: small-caps;
}
